.menu {
  text-decoration: none !important;
  color: white !important;
  font-size: 28px;
  display: inline-block;
  padding: 4.2% 6% ;
}
.build{
  padding: 3.2% 6% ;
}

.selected {
  background-color: #5464f1;
}
.menucont {
  font-weight: 700;
  font-size: 25px;
  flex-grow: 1;
}
.menu:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}
.logo {
  max-width: 60%;
  max-height: 60%;
  padding-right: 10%;
}
